/* ================================
    Base Element Styles
   ================================ */
* {
  box-sizing: border-box;
/*  border: 1px solid red;*/
}

body {
  color: #2b2b2b;
  background-color: #afbbc2;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.4;
}

nav {
  text-align: center;
}

h1,
h2,
h4,
hr,
figcaption {
  margin: 0;
}

figure {
  font-family: 'Montserrat', cursive;
  margin: 0 auto 50px;
}

a {
  display: block;
  height: 200px;
  text-decoration: none;
  text-align: right;
}

h2 {
  font-size: 1.4rem;
}
h2,
figcaption {
  padding: 8px 12px;
}

figcaption {
  font-family: 'Lato', sans-serif;
  color: #696969;
  align-self: stretch;
}

header,
footer {
  padding: 0 5%;
}

footer {
  text-align: right;
}

/* ================================
    Base Layout Styles
   ================================ */

/* --------- Navigation -------- */



/* ----- Layout Containers ----- */

#photo-gallery {
  display: flex;
  flex-flow: row wrap;
}

.photo-gallery-img {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  height: 200px;
  background-color:#f9f9f9;
  box-shadow: 0 0 20px rgba(25, 47, 65, 0.5);
}

.photo-gallery-img a img {
  transition: transform .3s, box-shadow .3s;
}

.photo-gallery-img a img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(25, 47, 65, 0.5);
}

.photo-gallery-desc {
  height: 200px;
  overflow: scroll;
}

.photo-gallery-img:nth-child(even) {
  justify-content: flex-start;
}

.photo-gallery-img:nth-child(odd) a {
  order: 1;
}


/* ------- Page Elements ------- */

hr {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(43, 43, 43, 0), rgba(43, 43, 43, 0.75), rgba(43, 43, 43, 0));
}


/* ================================
    Media Queries
   ================================ */

@media (min-width: 520px) {
  
  h2 {
  font-size: 1.5rem;
  }
  
  h2,
  figcaption {
    padding: 12px 20px;
  }
  
  .photo-gallery-img a img:hover {
    transform: scale(1.1);
  }
  
}



/* ================================
    Helper Classes
   ================================ */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ================================
    Print Styles
   ================================ */

@media print {

    
}


